@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(179deg, rgba(5, 16, 20, 1) 0%, rgba(5, 16, 20, 1) 20%, rgba(5, 16, 20, 1) 20%, rgba(0, 38, 56, 1) 100%, rgba(17, 35, 81) 100%);
  /* Light Blue with transparency */
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

/* create Page elements */
.label {
  color: white;
}

.label-purple {
  color: white;
  margin: "10px";
}

.input-style {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  color: black;
}

.button-style {
  width: 90px;
  height: 40px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  background-color: #021e2b;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.button-style:enabled {
  background-color: #23416c;
}

.button-style:disabled {
  background-color: #6c95b2;
}

.card {
  width: 25rem;
  background: linear-gradient(179deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(31, 172, 201, 1) 0%, rgba(0, 38, 56, 1) 100%, rgba(255, 255, 255, 1) 100%);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.card-wallet-balance {
  background-color: rgba(0, 38, 56, 1);
  margin-bottom: 20px;
}

.centered-text {
  text-align: center;
}

.checkbox-wrapper {
  display: inline-block;
  margin-right: 20px;
  /* Adjust margin as needed */
}